* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
	background: #06283d;
}
.container {
	position: relative;
	width: 400px;
	height: 105px;
	margin: 10px;
	background: #fff;
	padding: 28px 32px;
	overflow: hidden;
	border-radius: 18px;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: 0.6s ease-out;
	-o-transition: 0.6s ease-out;
	transition: 0.6s ease-out;
}
.search-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
}
.search-box input {
	border: none;
	width: 80%;
	padding-left: 15px;
	font-size: 24px;
	font-weight: 500;
	color: #06283d;
}
.search-box input::-webkit-input-placeholder {
	font-size: 20px;
	font-weight: 500;
	color: #06283d;
}
.search-box input::-moz-placeholder {
	font-size: 20px;
	font-weight: 500;
	color: #06283d;
}
.search-box input:-ms-input-placeholder {
	font-size: 20px;
	font-weight: 500;
	color: #06283d;
}
.search-box input::-ms-input-placeholder {
	font-size: 20px;
	font-weight: 500;
	color: #06283d;
}
.search-box input::placeholder {
	font-size: 20px;
	font-weight: 500;
	color: #06283d;
}
.search-box button {
	width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
	font-size: 22px;
	color: #06283d;
	background: #dff6ff;
	border-radius: 50%;
	-webkit-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}
.search-box button:hover {
	color: #fff;
	background: #06283d;
}
.search-box i {
	color: #06283d;
	font-size: 28px;
}
.choice-places {
	display: none;
	padding-top: 30px;
	width: 100%;
	height: auto;
	color: #06283d;
}
.choice-places ul {
	list-style: none;
}
.choice-places .city-option {
	cursor: pointer;
}
.not-found {
	display: none;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	scale: 0;
	opacity: 0;
}
.not-found img {
	width: 70%;
}
.not-found p {
	font-size: 22px;
	font-weight: 500;
	margin-top: 12px;
	color: #06283d;
}
.weather-box {
	text-align: center;
}
.weather-box img {
	width: 60%;
	margin-top: 20px;
}
.weather-box .temperature {
	position: relative;
	margin-top: 30px;
	margin-left: -16px;
	color: #06283d;
	font-size: 4rem;
	font-weight: 800;
}
.weather-box .temperature span {
	position: absolute;
	margin-left: 4px;
	font-size: 1.5rem;
}
.weather-box .description {
	text-transform: capitalize;
	font-size: 22px;
	font-weight: 500;
	color: #06283d;
}
.weather-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.weather-details .humidity,
.weather-details .wind,
.weather-details .high,
.weather-details .low {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 50%;
	height: 100px;
}
.weather-details .humidity,
.weather-details .high {
	padding-left: 20px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.weather-details .wind {
	padding-right: 20px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.weather-details .low {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.weather-details i {
	margin-top: 6px;
	margin-right: 10px;
	font-size: 26px;
	color: #06283d;
}
.weather-details span {
	font-size: 22px;
	font-weight: 500;
	color: #06283d;
}
.weather-details p {
	font-size: 14px;
	font-weight: 500;
	color: #06283d;
}
.weather-box,
.weather-details {
	scale: 0;
	opacity: 0;
}
.fadeIn {
	-webkit-animation: 0.5s fadeIn forwards;
	animation: 0.5s fadeIn forwards;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
@-webkit-keyframes fadeIn {
	to {
		scale: 1;
		opacity: 1;
	}
}
@keyframes fadeIn {
	to {
		scale: 1;
		opacity: 1;
	}
}
